body {
    background-image: url(imagenes/fondo.jpg);
    /* background-position-x: center;
    background-position-y: center; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    margin: 0%;
}

.container {
    position: relative;
    margin: auto;
    display: inline-block;
    z-index: 1;
}

.passangers {
    position: relative;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

#count-el {
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-right: 7px;
}

@media screen and (max-width:768px) {
    .container {
        margin: auto;
        margin-top: 20%;
        color: white;
    }
    body {
        overflow: hidden;
    }
}


#save-el {
    flex-direction: row;
    color: black;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin: 10px;
    opacity: 100%;
    margin-top: 50px;
    

}


 
.savewrapper{
    width: 100%;
    height: auto;
    background-color: white;
    opacity: 50%;
    margin: auto;
    
    
}



.wrapper-boton {
    position: relative;
    width: 200px;
    height: 50px;
    margin: auto;
    
}

button {
    padding: 0%;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin: auto;
    background-color: brown;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: inline;
    
    
}

