body {
    background-image: url(../counting_app/imagenes/meric-dagli-gwf4eIsVqXQ-unsplash\ \(1\).jpg);
    /* background-position-x: center;
    background-position-y: center; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.container {
    position: relative;
    margin: auto;
    display: inline-block;
}

.passangers {
    position: relative;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

#count-el {
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-right: 7px;
}

@media screen and (max-width:768px) {
    .container {
        margin: auto;
        margin-top: 40%;
        color: white;
    }
    body {
        overflow: hidden;
    }
}




.wrapper-boton {
    position: relative;
    width: 200px;
    height: 50px;
    margin: auto;
    
}

button {
    padding: 0%;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: brown;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: inline;
   
}